.header {
    padding: 15px 25px;
    box-shadow: 0px 2px 2px 0px #A3ABB942 !important;
    @media only screen and (max-width: 991px) {
        padding: 10px 15px;
    }

    .headerSearchWrap {
        display: flex;
        width: 280px;
        padding: 12px 20px 12px 20px;
        justify-content: space-between;
        align-items: center;
        gap: 36px;
        flex-shrink: 0;
        align-self: stretch;
        box-shadow: none;
        border: 1px solid var(--gray-11, #E8E8EA);
        background: var(--gray-12, #F9F9F9);
        border-radius: 0;
    }

    .notificationButton {
        position: relative;
        border-radius: 6.094px;
        background: #AACBEB !important;
        width: 36px;
        height: 36px;
        color: #147EFA;
        margin-right: 18px;
        @media only screen and (max-width: 991px) {
            width: 25px;
            height: 25px;
            padding: 4px;
            margin-right: 10px;
        }

        .activeIcon {
            width: 5px;
            height: 5px;
            background: #F60000;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .userInfoWrap {
        margin-left: 15px;

        @media only screen and (max-width: 991px) {
            margin-left: 8px;
        }

        .userInfoToggle {
            width: 100px;
            justify-content: space-between;
            color: #000;
            font-size: 14px;
            font-weight: 500px;
            text-transform: capitalize;
            padding: 0;

            @media only screen and (max-width: 991px) {
                width: 70px;
                line-height: 1;
            }

            &[aria-expanded="true"] {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.retailerSidebar {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);

    @media only screen and (max-width: 991px) {
        padding-top: 20px;
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            padding-left: 2rem;
            border-left: 6px solid #fff;

            @media only screen and (max-width: 1400px) {
                padding-left: 1rem;
            }

            @media only screen and (max-width: 1200px) {
                padding-left: 0;
                border-width: 3px;
            }

            a {
                display: flex;
                align-items: center;
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #737373;
                text-decoration: none;
                padding: 13px 15px;
                width: 100%;

                @media only screen and (max-width: 991px) {
                    font-size: 13px;
                    padding: 8px 10px;
                }

                img {
                    height: 20px;
                    margin-right: 15px;

                    @media only screen and (max-width: 991px) {
                        height: 15px;
                        margin-right: 8px;
                    }
                }
            }

            &:hover {
                background-color: #01549015;
                color: #000;
                border-color: #01549015;
            }

            &.active {
                background: #C2DFFE;
                border-color: #4399FE;

                a {
                    color: #4399FE;

                    img {
                        filter: sepia(100%) hue-rotate(190deg) saturate(500%);
                    }
                }
            }
        }
    }

    .logout-wrap {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #7C7C7C;
        text-decoration: none;
        padding: 13px 15px;

        @media only screen and (max-width: 991px) {
            font-size: 13px;
            margin-left: 0;
        }

        img {
            margin-right: 12px;
            @media only screen and (max-width: 991px) {
                margin-right: 8px;
                height: 14px;
            }
        }

        &:hover {
            color: #000;

            img {
                filter: brightness(0);
            }
        }
    }

}


.header-menu {
    > .MuiPaper-root {
        min-width: 120px;
        top: 80px !important;
        left: auto !important;
        right: 10px !important;

        @media only screen and (max-width: 991px) {
            top: 60px !important;
        }
    }

    ul {
        padding: 0;

        li {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .mobile-full {
        width: 100%;
    }
    
    .mobile-res .MuiGrid-grid-md-5 {
        display: none;
    }
    
    .mobile-res .MuiGrid-grid-md-7 {
        max-width: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0;
    }
    
    .menu-toggle {
        display: flex;
        align-items: center;
    }
    
    .menu-toggle span.close-wrap {
        display: none;
    }
    
    .mobile-wrap {
        display: flex;
        align-items: center;
    }
    
    .menu-toggle a.head-logo {
        display: block;
    }
    
    .head-logo img {
        width: 90px;
    }
    
    a.head-logo {
        margin: 0 15px;
    }

    .mobile-res {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }
    
    .avatar-wrap {
        width: 30px !important;
        height: 30px !important;
    }
    
    .mobile-res .MuiGrid-grid-md-7 > .MuiBox-root {
        justify-content: space-between;
    }
    
}