.meeting-outer {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
    @media (max-width: 767px) {
        padding: 10px;
    }

    .video-outer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        div {
            width: 47%;
            margin: 10px;

            @media (max-width: 767px) {
                width: 46%;
                margin: 5px;
            }

            video {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    #noteSection {
        margin: 10px;
        @media (max-width: 767px) {
            margin: 5px;
        }

        .quill {
            .ql-container.ql-snow {
                min-height: 200px;

                @media (max-width: 767px) {
                    min-height: 100px;
                }
            }

            .ql-snow .ql-picker.ql-header {
                width: auto;
            }

            .ql-toolbar.ql-snow button {
                padding: 0;
            }

            .ql-snow.ql-toolbar button svg,
            .ql-snow .ql-toolbar button svg {
                width: 16px;
            }

            .ql-toolbar.ql-snow {
                display: flex;
                align-items: center;
                padding: 0 10px;
            }

            .ql-toolbar.ql-snow .ql-formats {
                display: flex;
                align-items: center;
                margin-right: 0;
            }

            .ql-toolbar.ql-snow .ql-picker-label {
                padding: 0;
                text-align: left;
                padding-right: 18px;
                font-size: 12px;
            }
        }
    }

    .btn-group-wrap {
        margin-top: 30px;

        button {
            border: 1px solid #AACBEB;
            margin: 0 5px;
            text-align: center;

            &.red {
                border: 1px solid #d32f2f;
            }

            svg {
                margin: 0 !important;
            }
        }
    }


}