@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabContainer {
  margin: 0 auto;
}

.login-wrap>main {
  width: 100%;
  height: auto;
}

.login-wrap .right-wrap {
  width: calc(100% - 540px);
  padding-left: 6rem;
}

.login-wrap .left-wrap {
  background: linear-gradient(180deg, #4596F3 0%, #015490 100%);
  width: 540px;
  position: relative;
}

.login-wrap .big-img {
  text-align: right;
  margin-right: -8rem;
  padding-bottom: 3rem;
}

.login-wrap .img-outer {
  position: relative;
}

.login-wrap .img-outer img.img2 {
  position: absolute;
  bottom: 12px;
}

.left-wrap img.bottomImage {
  width: 540px;
  margin-top: 6rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.topContentWrap {
  text-align: center;
  padding: 8rem 15px 0px;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
}

a {
  color: #4596F3;
  cursor: pointer;
}

a:hover {
  color: rgb(48, 105, 170);
}

.body-wrapper {
  display: flex;
  margin: 0 auto;
  background-color: #FAFBFC;
  min-height: 100vh;
  box-shadow: 0px 0px 5px 0px #00000020;
}

.body-wrapper .sidebar {
  width: 305px;
  box-shadow: 1px 4px 34px 0px #FFFFFF40;
  background-color: #fff;
  padding: 28px 0px;
  text-align: center;
}

.body-wrapper .bodyWrap {
  width: calc(100% - 305px);
}

.right-wrap .mobile-logo {
  display: none !important;
}

/* login sidebar */
@media only screen and (min-width: 1820px) {
  .left-wrap img.bottomImage {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .login-wrap .left-wrap {
    height: 100%;
  }
}

@media only screen and (max-width: 1600px) {
  .body-wrapper .sidebar {
    width: 260px;
  }

  .body-wrapper .bodyWrap {
    width: calc(100% - 260px);
  }

}


@media only screen and (max-width: 1400px) {
  .body-wrapper .sidebar {
    width: 220px;
  }

  .body-wrapper .bodyWrap {
    width: calc(100% - 220px);
  }

  .login-wrap .big-img {
    margin-right: -5rem;
  }

  .login-wrap .img-outer img {
    width: 70%;
  }

  .login-wrap .big-img img {
    width: 85%;
  }

}


@media only screen and (max-width: 1200px) {
  .login-wrap .big-img {
    margin-right: -3rem;
  }

  .login-wrap .img-outer img {
    width: 60%;
  }

  .login-wrap .big-img img {
    width: 65%;
  }

  .login-wrap .right-wrap {
    padding-left: 2rem;
  }

  .login-wrap .right-wrap h1 {
    font-size: 26px;
  }

  .login-wrap .right-wrap .form-outer h1 {
    font-size: 20px;
  }

}

@media only screen and (max-width: 991px) {
  .body-wrapper .sidebar {
    width: 100%;
  }

  .body-wrapper .bodyWrap {
    width: 100%;
  }

  .login-wrap .left-wrap {
    width: 100%;
  }

  .login-wrap .right-wrap {
    width: 100%;
    padding-left: 0;
  }

  .login-wrap .big-img {
    margin: 0;
  }

  .login-wrap .img-outer {
    padding: 12px;
  }

  .login-wrap .right-wrap h1 {
    font-size: 24px;
  }

  .login-wrap .right-wrap .form-outer h1 {
    font-size: 18px;
  }

  .login-wrap .right-wrap .MuiStack-root {
    margin-bottom: 30px;
  }

  .topContentWrap h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .topContentWrap {
    padding: 2rem 15px 0;
  }

  .topContentWrap img {
    width: 140px;
  }

  .login-wrap>main {
    flex-direction: column-reverse;
  }

  .topContentWrap .white-logo {
    display: none;
  }

  .right-wrap .mobile-logo {
    display: block !important;
    margin-bottom: 25px;
  }

  .right-wrap .mobile-logo img {
    width: 100px;
  }

}

/* header-sidebar */
.mobile-wrap {
  display: none;
}

span.close-icon {
  display: none;
}
@media only screen and (max-width: 991px) {
  .body-wrapper .sidebar {
    opacity: 0;
    max-width: 0;
    position: absolute;
    z-index: 999;
    height: 100%;
    visibility: hidden;
    transition: max-width 0.2s ease, opacity 0.2s ease;
  }

  .body-wrapper .sidebar.show {
    max-width: 200px;
    opacity: 1;
    visibility: visible;
  }

  .body-wrapper .sidebar.show .logo-wrap img {
    width: 100px;
  }

  .menu-open span.close-wrap {
    display: block;
  }

  .sidebar.show span.close-icon {
    display: block;
    text-align: right;
    margin-right: 16px;
  }

  span.close-icon {
    display: none;
  }


}

@media only screen and (max-width: 767px) {
  .login-wrap .right-wrap h1 {
    font-size: 20px;
  }

}